@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css");


/*** color-scheme ***/
@media(prefers-color-scheme: light) {
    :root {
        --bg-page: #fff;
        --bg-nav: #f8f9fa;
        --text-body: #323232;
    }
}

@media(prefers-color-scheme: dark) {
    :root {
        --bg-page: #000;
        --bg-nav: #343a40;
        --text-body: #ffffff;
    }
}


/*** resposivility ***/

@media (max-width: 1920px) { 
    html {
        font-size: 100%;
    }
}

@media (max-width: 768px) { 
    html {
        font-size: 75%;
    }
}

/*** page defaults ***/

* {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    list-style: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

html, body {
    width: 100%;
    overflow-x: hidden;
    position: relative;
    color: var(--text-body);
    margin: 0;
    background-color: var(--bg-page);
}

div.container {
    padding: 0 10%;
}

/*** navigation ***/

header {
    position: fixed;
    width: 100%;
    z-index: 99;
}

nav.top-nav {
    width: 100%;
    position: relative;
    background-color: transparent;
    z-index: 2;
    color: #fff;
}

nav.top-nav > div.nav-bar {
    display: flex;
    align-items: center;
    padding: 0 3rem;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
}

a.nav-logo {
    display: block;
    font-size: 1.75rem;
    line-height: 1.75rem;
    letter-spacing: 1rem;
    margin: 1em 0;
    margin-right: auto;
}

a.nav-logo span {
    font-weight: bold;
}

ul.nav-list {
    display: flex;
    justify-content: space-between;
}

ul.nav-list li {
    display: block;
    padding: 0.5em 1rem;
    font-size: 1.25rem;
}

ul.nav-list li a {
    position: relative;
}

ul.nav-list li:hover {
    font-weight: bold;
}

ul.nav-list li > a::after {
    content: '';
    width: 0%;
    left: 50%;
    height: 1px;
    display: block;
    position: absolute;
    margin-top: 3px;
    border-bottom: 2px solid var(--text-body);
    transition:all .3s ease;
}

ul.nav-list li:hover > a::after {
    content: '';
    width: 100%;
    left: 0px;
    height: 1px;
    display: block;
    position: absolute;
    margin-top: 3px;
    border-bottom: 2px solid var(--text-body);
    transition:all .3s ease;
}

div.nav-bar i.bi-list {
    display: none;
    border: 1px solid rgba(255, 255, 255, .4);
    border-radius: 0.25rem;
    font-size: 1.65rem;
    padding: 0.4rem 0.5rem;
}

@media (max-width: 768px) { 
    div.nav-bar ul.nav-list {
        display: none;
    }

    div.nav-bar i.bi-list {
        display: block;
    }
}

div.nav-expand {
    display: block;
    position: fixed;
    right: -100%;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    transition: all .5s;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
}

div.nav-expand.open {
    right: 0;
    opacity: 1;
}

div.nav-expand-inner {
    width: 80%;
    height: 100vh;
    background-color: var(--bg-page);
    color: var(--text-body);
    margin-left: auto;
}

div.nav-expand-inner span.nav-expand-title{
    display: flex;
    width: 100%;
    padding: 1.75rem;
    color: #fff;
    background-color: #000;
    font-size: 1.75rem;
    line-height: 1.75rem;
}

div.nav-expand-inner span.nav-expand-title i{
    margin-left: auto;
}

div.nav-expand-inner ul.nav-list {
    margin: 0;
    display: flex;
    flex-direction: column;
}

div.nav-expand-inner ul.nav-list li {
    margin: 1em 0;
}

/*** home ****/

div.section[data-anchor="home"] {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image: url("../img/home_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    color: #fff;
}

div.container#home {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

div.cover-text span {
    font-size: 1.25rem;
}

div.cover-text h1 {
    margin: 0;
    font-size: 10vw;
    text-transform: uppercase;
}

div.cover-text h2 {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 8vw;
}

div.cover-text i {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin: 0.1rem;
}

span.sns-group {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
    padding: 0.25em 0.75rem;
    border-radius: 1.5rem;
}