@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css");


/*** page defaults ***/

* {
    font-family: 'Pretendard Variable', -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

@media (max-width: 1920px) { 
    html {
        font-size: 100%;
    }
}

@media (max-width: 768px) { 
    html {
        font-size: 75%;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

/*** navigation ***/

a.navbar-brand span.char {
    opacity: .8;
    font-weight: 100;
    line-height: 1.5rem;
    font-size: 1.5rem;
    animation: loop 4s infinite;
    --delay: calc((var(--char-index) + 1) * 0.15s);
    animation-delay: var(--delay);
}

a.navbar-brand span.whitespace {
    font-size: inherit;
}

@keyframes loop {
    0% {
		font-weight: 50;
	}
	15% {
		font-weight: 700;
	}
    50% {
		font-weight: 700;
	}
	100% {
		font-weight: 50;
	}
}

ul.sns-list {
    margin: 0 -0.5rem;
}

ul.sns-list li {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin: 0 0.5rem;
    opacity: .8;
}

body {
    background-color: #f8f9fa;
}

body::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display: block;
    height: 4.5rem;
    width: 100%;
    background-color: var(--bs-light);
    z-index: -1;
}

.spread-out span.char {
    animation: spread 1s cubic-bezier(.8,0,.2,1) forwards;
    animation-delay: calc( 0.2s * var(--distance-percent) );
}

.spread-out span.whitespace {
    margin-right: 0.5rem;
}

@keyframes spread {
    to {
		transform: scale(0.6) translateX( calc(1rem * var(--distance-sine)) );
	}
}

.neu-25 {
    border: none;
    border-radius: 25px;
    background: #f8f9fa;
    box-shadow:  20px 20px 60px #d3d4d5,
                -20px -20px 60px #ffffff;
    transition: 1s all ease;
}

.neu-25:hover {
    opacity: .6;
    transition: .5s all ease;
}

.neu-25 .card-footer{
    border: none;
    background: none;
}

/************************/

#section-1 {
    padding-top: 4.5rem;
    padding-bottom: 2.5rem;
    height: calc(100vh - 8rem);
    margin-bottom: 8rem;
    border-bottom-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
    background: #f8f9fa;
    box-shadow:  1.5rem 1.5rem 4rem #d3d4d5,
                 1.5rem 1.5rem 4rem #ffffff;
    position: relative;
}

#section-1 i.bi {
    position: absolute;
    top: 100%;
    left: 50%;
    font-size: 2rem;
    margin-top: 2.25rem;
    animation: elevate 2s infinite;
}

#section-1 li {
    font-size: 0.9rem;
}

@keyframes elevate {
    0% {
        opacity: 1;
    }

    50% {
        transform: translateY(0.5rem);
        opacity: .2;
    }

    100% {
        opacity: 1;
    }
}